nav{
    display: block;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    border: olivedrab 1px solid;
}
li{
    list-style: none;
}
.foo{
    font-size: large;
    background-color: aquamarine;
}
